{% extends "base.html" %}

{% block title %}
    Patient List
{% endblock %}

{% block content %}
    <h1>Patients List</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Room ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient[0] }}</td>
                <td>{{ patient[1] }}</td>
                <td>{{ patient[2] }}</td>
                <td>{{ patient[3] }}</td>
                <td>{{ patient[6] }}</td>
                <td>
                    <form action="{{ url_for('remove_patient', patient_id=patient[0]) }}" method="POST" onsubmit="return confirm('Are you sure you want to remove this patient?');">
                        <button type="submit" class="btn-remove">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}